@import url('./reset.css');

:root {
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --primary-white-color: #FFFFFF;
    --active-color: #2196F3;
    --header-logo-color: #000000;
    --background-dark-color: #2F303A;
    --header-border-color: #ECECEC;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --portfolio-filter-button-color: #F5F4FA;
    --portfolio-filter-button-text-color: rgba(33, 33, 33, 1);
    --background-section-team: #F5F4FA;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* buttons*/
.solution-button,
.filter-button {
    cursor: pointer;
}

/* header */
/* logo */
.header {
    border-bottom: 1px solid var(--header-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.team-list,
.services-list,
.nav-list,
.contact-list {
    display: flex;
    gap: 50px;
}

.nav-list {
    margin-left: 93px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.part-logo {
    color: var(--active-color);
}

.header-logo {
    color: var(--header-logo-color);
}

.footer-logo {
    color: var(--primary-white-color);
}


/* Navigation */

.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;

    color: var(--primary-title-color);
}

.nav-link:hover {
    color: var(--active-color);
} 

.active {
    color: var(--active-color);
}

.contact-list {
    display: flex;
    align-items: center;
}

.contact-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;   

    color: var(--primary-text-color);
}

.contact-link:hover {
    color: var(--active-color);
}

/* solution */

.solution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/solutions.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
}

.solution-title {
    text-align: center;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.solution-button {
    width: 216px;
    height: 50px;
    margin-top: 30px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.06em;
    border: 1px solid transparent;
    border-radius: 4px;

    color: var(--primary-white-color);
    background-color: var(--active-color);  
}



/* benefits */
.benefits {
    display: flex;
    padding: 94px 0;
}

.benefits-list {
    display: flex;
}

.benefits-list-item {
    margin-right: 30px;
}

.benefits-icon {
    display: block;
    margin-bottom: 30px;
    padding: 25px 100px;
    width: 270px;
    height: 120px;

    background-color: #F5F4FA;
    border-radius: 4px;
    
}

.benefits-list-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-title-color);
}

.benefits-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* services & team */
.services {
    padding-bottom: 94px;
}

.services-list,
.team-list,
.projects-list {
    gap: 30px;
}

.services-title {
    margin-bottom: 50px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align:  center;

    color: var(--primary-title-color);
}

.team {
    background-color: var(--background-section-team);
    padding: 94px 0;
}

.team-title {
    margin-bottom: 50px;
}

.team-list-item {
    padding-bottom: 30px;
    background-color: var(--primary-white-color);
}

.team-list-title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    text-align: center;

    color: var(--primary-title-color);
}

.team-list-text {

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
}

/* footer */

.footer {
    padding: 60px 0;
    background-color: var(--background-dark-color);
}

.footer-contact,
.address-text {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contact {
    color: var(--footer-contact-color);
}

.address {
    margin-top: 10px;
}

.address-text {
    color: var(--primary-white-color);
}

/* Portfolio */

.filter-button {
    padding: 4px 25px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    border-radius: 4px;

    color: var(--portfolio-filter-button-text-color);
    background-color: var(--portfolio-filter-button-color);
}

.filter-button:hover {
    color: var(--primary-white-color);
    background-color: var(--active-color);
}

.filter-list {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    gap: 8px;
}

.projects {
    padding: 94px 0;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list-item > img { 
    margin-bottom: 20px;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--primary-title-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
}